<html>
    <head>
        <%- include('./partial/bootstrap_lib.ejs')%>
           <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12"></div>
                 <h1 class="a">ABOUT US</h1>
                 <P class="paragraph "> The InfoBeans Foundation works towards taking forward those
                      sections of society which have been left behind in areas of education and skill 
                      development. We cater to those sections of society which are not able to cope with 
                      mainstream education because of economic reasons or academic incapabilities. Along 
                      with basic computer literacy, we also provide advanced courses that can help in enhancing 
                      their careers. Our trainers are highly skilled and motivated. We provide training in an 
                     air-conditioned computer lab with genuine software and excellent hardware.  </P>
            </div>
        </div>
           <div class="container banner2"> 
               <div class="row">
                   <div class="col-12"></div>
                   <h1 color=black class="heat">OUR FOUNDERS</h1>
                    <img class="image2" src="/images/founder.jpeg">
                   
                <div>
           </div>
    </body>
</html>