<html>
    <head>
           <%- include('./partial/bootstrap_lib.ejs')%>
           <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('./partial/navigation.ejs')%>
          <div class="container">
              <div class="row">
                  <div class="col-12 banner"></div>
                  <font size=10 color=black class="heading">InfoBeans 
                      Foundation</font>
                      <img class="image" src="/images/2.png" />
              </div>
        
          </div>
          <div class="container-fluid mt-5">
             <div class="row">
                 <div class="col-12">
                    <h1 class="h">Information Technology Excellence Program (ITEP) </h1>
                    
                    
                    <p class="para">Launched in February 2020, ITEP is a one-year intensive software training 
                        and skill development program for empowering underprivileged students. Out
                         of 400 applications received, 20 students have been selected for the first
                          batch through a written exam, interview and visit to their homes.</p>
                 </div>
             </div>
          </div>
           <div class="container">
            <div class="row">
                <div class="col-md-3 section py-4">
                    <!-- <font size=10>OUR PROGRAMMS</font> -->
                    <img src="/images/5.jpg" width="150px" />
                    <h4 class="mt-4">Basic computer Literacy</h4>
                    <p>Sketches help to convey ideas, demonstrate functionality, visualize user
                        flow, and illustrate anything that requires human interaction. ...
                        Sketching helps discover potential issues and solutions early,
                        prior to starting the design and development stages</p>
                </div>
                <div class="col-md-3 py-4">
                    <img src=" /images/6.jpg" width="150px" />
                    <h4 class="mt-4">Advanced computer skills word, Excel, Powerpoint</h4>
                    <p>Painting sharpens the mind through conceptual visualization
                        and implementation, plus, boosts memory skills. People using
                        creative outlets such as writing, painting, and drawing have
                        less chance of developing memory loss illnesses when they get older.</p>
                </div>

                <div class="col-md-3 section py-4">
                    <img src="/images/7.jpg " width="200px" />
                    <h4 class="mt-4">Computer software programming</h4>
                    <p>Mandalas, meaning "circles" in Sanskrit, are sacred symbols that
                        are used for meditation, prayer, healing and art therapy for both
                        adults and children. Mandalas have been shown in clinical studies
                        to boost the immune system, reduce stress and pain.</p>
                </div>
                <div class="col-md-3 section py-4">
                    <img src="/images/9.webp " width="150px" />
                    <h4 class="mt-4">English language skills</h4>
                    <p>Artists that reside within Architects create space that not only
                        serves a purpose but exists to communicate an idea or evoke a
                        feeling. ... If the architect survives it successfully, art
                        becomes a median to express a thought, identity, culture,
                        colours, textures, and materials.</p>
                </div>
            </div>
            <div> 


    </body>
</html> -->