<html>
    <head>
        <%- include('./partial/bootstrap_lib.ejs')%>
    </head>
    <body>
        <%- include('./partial/navigation.ejs')%>
        <div class="Container">
            <div class="row">
                <div class="col-12">
                    <form action="/register" method="post">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email"  class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password"  class="form-control" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </body>
</html>