<nav class="navbar navbar-expand-sm navigation">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-ligth" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-ligth" href="/about">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-ligth" href="/login">LOG IN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-ligth" href="/register">REGISTER</a>
      </li>
    </ul>
  </nav>
 